<head>
  <link rel="stylesheet" href="../scss/main.css" />
</head>

<div class="d-flex flex-column  align-items-center spacer">
  <h2 class="text-center mb-5">
    <b>
      Contact Us
    </b>
  </h2>
  <form class="form-group w-75">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Enter your name"
    />
    <label for="email" class="mt-4">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter your email"
    />
    <label for="message" class="mt-4">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
    <button type="submit" class="btn w-100 btn-primary mt-3">Submit</button>
  </form>
</div>
