<div
  class="container inner-mid d-flex flex-column justify-content-center align-items-center text-center spacer"
>
  <div class="content-hold">
    <h3 class="mb-4">
      <b>
        Sejauh Ini, Kami Sudah Membantu 75+ Project Launching, Mobile App dan
        Web
      </b>
    </h3>
    <p class="p-secondary testimony-desc mb-4">
      Yuk, mulai konsultasi dengan kami agar project-mu bisa segera launching
      juga !
    </p>
    <button class="btn btn-lg btn-yellow w-75 rounded-4">
      Hubungi Kami
    </button>
  </div>
</div>
