<head>
  <link rel="stylesheet" href="../scss/main.css" />
</head>

<div
  class="d-flex flex-column-reverse text-center text-md-start flex-md-row text-white cta-gray align-items-center justify-content-around pt-4 py-4 py-md-0"
>
  <div>
    <h4 class="mt-4 mt-md-0">Tertarik bekerja sama dengan kami ?</h4>
    <p class="mt-2">Konsultasinya gratis kok, Ayo kita ngobrol.</p>
    <button class="btn btn-lg btn-primary w-75 cta-gray-button mt-3 py-3">
      Kontak Kami <i class="fa fa-arrow-right ms-3"></i>
    </button>
  </div>
  <img
    class="cta-gray-img"
    src="https://ordoapps.com/images/landing-page-cs.png"
    width="320px"
  />
</div>
