<div class="container">
  <div
    class="d-flex flex-lg-row flex-column-reverse justify-content-center align-items-center mb-5 spacer"
  >
    <div class="d-flex flex-column me-5">
      <h1>
        <b>
          Solusi Digital Untuk Permasalahan Bisnis-Mu
        </b>
      </h1>
      <p>
        Membantu mendigitalisasi bisnis anda mulai dari membuat internal tools,
        mobile app dan website, maupun membuat custom software.
      </p>
      <button class="btn btn-lg btn-yellow w-50">Hubungi Kami</button>
    </div>
    <img
      class="img-fluid rounded-5 w-50 "
      src="https://ordoapps.com/images/hero-img.jpg"
      alt="hero-img"
    />
  </div>
</div>
