<div class="container">
  <div
    class="d-flex flex-lg-row flex-column-reverse justify-content-center align-items-center mb-5 spacer"
  >
    <div class="d-flex flex-column me-5">
      <h1>
        <b>
          Software House
        </b>
      </h1>
      <p>
        Kami adalah software house yang bergerak di bidang IT, khususnya dalam
        pembuatan aplikasi mobile dan website. Kami adalah sebuah perusahaan
        software yang berdedikasi untuk memberikan solusi IT terbaik bagi
        pelanggan kami. Kami menyediakan berbagai solusi IT, mulai dari aplikasi
        web hingga aplikasi mobile. Kami mengutamakan kualitas dan ketepatan
        waktu dalam setiap pekerjaan kami.
        <br />
        <br />
        Selain itu, kami juga menyediakan layanan konsultasi IT gratis bagi
        pelanggan kami. Kami bertekad untuk terus meningkatkan kualitas layanan
        kami agar dapat memberikan yang terbaik bagi pelanggan kami.
      </p>
    </div>
    <img
      class="img-fluid rounded-5 w-50 "
      src="https://ordoapps.com/images/kt.png"
      alt="hero-img"
    />
  </div>
</div>
