<head>
  <link rel="stylesheet" href="../scss/main.css" />
</head>

<div class="container spacer">
  <h2 class="text-center mb-5">
    <b>
      Portfolio Kami
    </b>
  </h2>
  <div class="d-flex flex-column flex-md-row">
    <div class="card me-md-5 rounded-5">
      <img
        src="https://ordoapps.com/images/mobileapp/lahdang/banner.png"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">
          <b>
            Lahdang
          </b>
        </h5>
        <p class="card-text">
          Marketplace untuk Jual Beli Barang Bekas dengan Mudah
        </p>
        <img
          src="https://ordoapps.com/images/icon/playstore-badge.png"
          width="175px"
        />
      </div>
    </div>
    <div class="card rounded-5 mt-5 m-md-0">
      <img
        src="https://ordoapps.com/images/mobileapp/tyboo/banner.png"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">
          <b>
            Tyboo
          </b>
        </h5>
        <p class="card-text">
          Aplikasi Dating Online dan Untuk Berkenalan dengan Orang di Area-mu
        </p>
        <img
          src="https://ordoapps.com/images/icon/playstore-badge.png"
          width="175px"
        />
      </div>
    </div>
  </div>
</div>
