<head>
  <link rel="stylesheet" href="../scss/main.css" />
</head>

<div class="flex w-100 text-center mb-5 spacer">
  <h2 class="mb-5">
    <b>
      Layanan Kami
    </b>
  </h2>

  <div class="row justify-content-center m-0 mx-4 mx-md-0">
    <div class="card col-md-3 mb-5 mb-md-0 me-md-5">
      <div class="flex align-items-center">
        <img
          src="https://ordoapps.com/images/icon/services/document.gif"
          width="80px"
          height="80px"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">App Prototype</h5>
        <p class="card-text">
          Membuat website untuk bisnis anda mulai dari website landing page
          hingga website e-commerce.
        </p>
      </div>
    </div>

    <div class="card col-md-3 mb-5 mb-md-0 me-md-5">
      <div class="flex align-items-center">
        <img
          src="https://ordoapps.com/images/icon/services/smartphone.gif"
          width="80px"
          height="80px"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Mobile Apps</h5>
        <p class="card-text">
          Membuat mobile app dengan tampilan yang indah & ter-optimisasi
        </p>
      </div>
    </div>

    <div class="card col-md-3 mb-5 mb-md-0">
      <div class="flex align-items-center">
        <img
          src="https://ordoapps.com/images/icon/services/browser.gif"
          width="80px"
          height="80px"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Website / Web App</h5>
        <p class="card-text">
          Membuat website user-friendly dengan tampilan indah & ter-optimisasi
        </p>
      </div>
    </div>
  </div>
</div>
