<head>
  <link rel="stylesheet" href="../scss/main.css" />
</head>

<div
  class="d-flex flex-column align-items-center text-center bg-dark text-white p-5 spacer"
>
  <h2>Apa Kata Klien Kami Tentang Kami</h2>
  <div
    id="carouselExampleControls"
    class="carousel slide mt-5"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex flex-column align-items-center">
          <img
            src="https://source.unsplash.com/random"
            class="d-block mb-4"
            width="220px"
          />
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">John Doe</h3>
            <p class="w-50 text-justify">
              Tim ORDO sangat kooperatif, kolaboratif, dan suportif selama masa
              transisi yang membantu proses pembuatan Mobile Application. Tim
              ORDO telah melampaui harapan kami, baik dalam hal kualitas dan
              kecepatan kerja. Mereka cepat memahami kebutuhan bisnis dan dapat
              menambahkan ide dan memberi saran akan kekurangan dalam sisi
              design maupun masalah potensial lainnya.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="d-flex flex-column align-items-center">
          <img
            src="https://source.unsplash.com/random"
            class="d-block mb-4"
            width="220px"
          />
          <div class="d-flex flex-column align-items-center">
            <h3 class="mb-4">Budi</h3>
            <p class="w-50 text-justify">
              ORDO melampaui harapan kami dengan membuktikan janji dan
              integritasnya untuk menyelesaikan berbagai permintaan khusus kami
              dalam waktu kurang dari 3 minggu. Kami sangat puas dan berharap
              dapat melanjutkan hubungan baik ini dalam jangka panjang.
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
